@font-face {
    font-weight: 400;
    font-family: Bebas-Neue;
    font-style: normal;
    src: url("") format("embedded-opentype"), url("") format("woff"), url("") format("woff2"), url("") format("truetype");
    font-display: swap
}

@font-face {
    font-weight: 400;
    font-family: Roboto-Condensed;
    font-style: normal;
    src: url("") format("embedded-opentype"), url("") format("woff"), url("") format("woff2"), url("") format("truetype");
    font-display: swap
}

@font-face {
    font-weight: 400;
    font-family: Montserrat-Medium;
    font-style: normal;
    src: url("") format("embedded-opentype"), url("") format("woff"), url("") format("woff2"), url("") format("truetype");
    font-display: swap
}

@font-face {
    font-weight: 400;
    font-family: Montserrat-ExtraBold;
    font-style: normal;
    src: url("") format("embedded-opentype"), url("") format("woff"), url("") format("woff2"), url("") format("truetype");
    font-display: swap
}

:root {
    --text-primary-color: #fff;
    --text-dark-color: #fff;
    --text-secondary-color: #ffad3d;
    --text-bright-color: #bb8e62;
    --body-bg-color: #000e26;
    --body-bg-color-sm: #000723;
    --spins-block-bg-color-desktop: #162230;
    --spins-block-bg-color: var(--text-secondary-color);
    --btn-bg-color: #fe882b;
    --prev-btn-color: #ff4b46;
    --btn-shadow-color: 3px 3px 0 0 #a0551a;
    --loader-color: var(--text-primary-color);
    --loader-opacity-color: hsla(0, 0%, 100%, 0.5);
    --radio-color: #fefefe;
    --radio-border-color: #4d393a;
    --error-color: red;
    --pop-up-bg-color: rgba(0, 0, 0, 0.65);
    --pop-up-gradient: rgba(20, 20, 20, 0.8);
    --pop-up-close-gradient: rgba(16, 16, 16, 0.86);
    --form-button-gradient: #bb8e62;
    --pop-up-shadow: none;
    --form-button-shadow: 0 0 32px 0 rgba(44, 68, 145, 0.4), inset 0 -1px 0 0 hsla(0, 0%, 100%, 0.3);
    --text-shadow: 0 1px 0 #1c546f;
    --text-cash-shadow: 0px 8px 0px #000;
    --form-input-bg-color: rgba(255, 249, 249, 0);
    --form-options-bg-color: var(--form-input-bg-color);
    --form-input-border-color: #4d393a;
    --form-select-border-color: #4d393a;
    --form-options-border-color: var(--text-primary-color);
    --arrow-color: var(--form-input-bg-color);
    --font-family-bebas: "Bebas-Neue", sans-serif;
    --font-family-roboto: "Roboto-Condensed", sans-serif;
    --font-family-montserrat-medium: "Montserrat-Medium", sans-serif;
    --font-family-montserrat-extrabold: "Montserrat-ExtraBold", sans-serif
}

* {
    box-sizing: border-box
}

html {
    font-family: var(--font-family-bebas)
}

body {
    height: 100%;
    color: var(--text-primary-color);
    background: var(--body-bg-color) url("bannerking.jpg") no-repeat 50%;
    background-size: cover
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0
}

a {
    color: inherit;
    text-decoration: none
}

input,
select,
textarea {
    color: inherit;
    font-size: inherit;
    font-family: inherit
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none
}

input[type=number] {
    -moz-appearance: textfield
}

.container {
    width: 1440px;
    margin: 0 auto
}

.pika-label:nth-child(2) {
    color: var(--btn-bg-color)
}

@media (max-width:1920px) {
    .container {
        width: 1100px
    }
}

@media (max-width:1100px) {
    .container {
        width: 800px
    }
}

@media (max-width:768px) {
    .container {
        width: 565px
    }
    body {
        background: var(--body-bg-color-sm) url("banner_tablet.jpg") no-repeat top;
        background-size: cover
    }
}

@media (max-width:500px) {
    .container {
        width: 300px
    }
}

.header {
    min-width: 60px;
    max-width: 22%;
    height: 100px;
    margin: 0 auto;
    background: url("logo.61d59d6a3fd4859271c8e0248c57e4a3.png") no-repeat 50%;
    background-size: contain
}

@media (max-width:1100px) {
    .header {
        height: 90px
    }
}

@media (max-width:768px) {
    .header {
        min-width: 90px;
        max-width: 40%;
        height: 80px
    }
}

@media (max-width:500px) {
    .header {
        max-width: 22%;
        height: 45px
    }
}

.main {
    display: flex;
    margin: 0 -15px
}

.king,
.main {
    position: relative
}

.king {
    top: 100px;
    left: 115px;
    width: 450px;
    height: 760px;
    background: url("king.61ba37c38aaf46a5db007e17e8517968.png") no-repeat 50%;
    background-size: contain
}

.text {
    position: absolute;
    top: 28%;
    left: 35%;
    width: 455px;
    padding: 0 20px;
    font-family: 'Bebas Neue', cursive;
}

.title {
    margin-bottom: 40px;
    color: var(--text-dark-color);
    font-size: 25px;
    letter-spacing: 5px;
    text-align: right
}

.percent-block {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin: -50px 0 -25px;
    white-space: nowrap
}

.percent-number {
    font-size: 71px;
    letter-spacing: 0;
    margin-bottom: 15px;
    text-shadow: var(--text-cash-shadow)
}

.percent-text {
    font-size: 49px
}

.cash-block {
    margin-bottom: -30px;
    color: var(--text-secondary-color);
    font-size: 109px;
    text-align: center
}

.spins-block {
    margin: 28px 0;
    font-size: 27px;
    line-height: 65px;
    letter-spacing: 2px;
    text-align: center;
    background-color: var(--spins-block-bg-color-desktop)
}

.icons-circle {
    position: absolute;
    right: 0;
    width: 100%;
    height: 116px;
    margin-top: 50px;
    white-space: nowrap;
    text-align: center
}

.icons-circle .icon-bonus,
.icons-circle .icon-chat,
.icons-circle .icon-slots {
    display: inline-block;
    width: 126px;
    height: 100%;
    background-size: contain
}

.icons-circle .icon-chat {
    background: url("chat_circle.062ad59ac6f1ef57718d1f79196ef7df.png") no-repeat 50%
}

.icons-circle .icon-bonus {
    margin: 0 19px 0 28px;
    background: url("bonus_circle.f66aea6b64a64cc99666b290e044340a.png") no-repeat 50%
}

.icons-circle .icon-slots {
    background: url("slots_circle.7aba8218bfba75bce289991da44ae1f8.png") no-repeat 50%
}

.button-block {
    margin: 20px auto 0;
    text-align: center;
    cursor: pointer
}

.button-block .button {
    display: inline-block;
    padding: 9px 46px;
    color: var(--text-primary-color);
    font-weight: 700;
    font-size: 32px;
    font-family: var(--font-family-roboto);
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--btn-bg-color);
    box-shadow: var(--btn-shadow-color);
    visibility: visible;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: 5;
    animation-iteration-count: 5
}

.button-block .button:hover {
    background-color: #ff9800
}

.button-block .button:active {
    box-shadow: 0 0 5px 1px
}

@media (max-width:1100px) {
    .text {
        top: 30%;
        left: 43%
    }
}

@media (max-width:768px) {
    .king {
        top: 50px;
        left: -54px;
        width: 77%
    }
    .text {
        top: 110px;
        width: 400px;
        margin-top: 0
    }
    .title {
        margin-bottom: 90px;
        letter-spacing: 3px
    }
    .percent-block {
        justify-content: center;
        margin-bottom: 7px
    }
    .percent-number {
        font-size: 75px;
        letter-spacing: -2px
    }
    .percent-text {
        font-size: 35px
    }
    .cash-block {
        font-size: 75px;
        text-align: center;
        margin-bottom: 10px
    }
    .spins-block {
        margin-top: 0;
        font-size: 26px;
        line-height: 45px
    }
    .icons-circle {
        width: 90%;
        height: 81px;
        margin-top: 25px;
        text-align: initial
    }
    .icons-circle .icon-bonus,
    .icons-circle .icon-chat,
    .icons-circle .icon-slots {
        width: 25%;
        background-size: contain
    }
    .button-block {
        margin: 20px auto 0
    }
    .button-block .button {
        padding: 9px 36px;
        font-size: 40px
    }
}

@media (max-width:650px) {
    .text {
        left: 27%
    }
}

@media (max-width:500px) {
    .king {
        top: -50px;
        left: 48px;
        width: 82%
    }
    .text {
        top: 200px;
        left: -10px;
        width: 350px
    }
    .title {
        margin-bottom: 60px;
        color: var(--text-primary-color);
        font-size: 20px;
        text-align: center
    }
    .percent-number,
    .percent-text {
        font-size: 50px
    }
    .cash-block {
        margin: 10px 0;
        font-size: 60px;
        text-align: center
    }
    .spins-block {
        margin-top: 10px;
        font-size: 20px;
        line-height: 40px;
        background-color: var(--spins-block-bg-color)
    }
    .icons-circle {
        left: 40px;
        width: 83%;
        margin-top: 40px
    }
    .icons-circle .icon-bonus,
    .icons-circle .icon-chat,
    .icons-circle .icon-slots {
        width: 26%
    }
    .button-block {
        margin: 20px auto 0
    }
    .button-block .button {
        font-size: 35px
    }
}

.footer {
    margin-top: 63px
}

.footer-copytext,
.footer-icons {
    position: relative;
    text-align: center
}

.footer-icons {
    display: flex;
    align-items: center;
    justify-content: center
}

.footer-copytext {
    margin: 15px -15px;
    font-size: 14px;
    font-family: Roboto Condensed, sans-serif;
    text-align: center
}

.icon {
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 15px;
    background-repeat: no-repeat;
    background-size: contain
}

.icon.visa {
    width: 55px;
    height: 19px;
    background-image: url("visa.4c0e42608c964c73a6fdfc851f26be92.png")
}

.icon.mastercard {
    width: 49px;
    height: 29px;
    background-image: url("mastercard.8451e9754d5c40dd410c03fd25713000.png")
}

.icon.maestro {
    width: 49px;
    height: 29px;
    background-image: url("");
    background-size: cover
}

.icon.ideal {
    width: 30px;
    height: 27px;
    background-image: url("ideal.abd1f36938dec52eba4d40d83545cae7.png")
}

.icon.zimpler {
    width: 66px;
    height: 18px;
    background-image: url("")
}

.icon.skrill {
    width: 48px;
    height: 17px;
    background-image: url("skrill.3607d578f8879af9d98613370786e377.png")
}

.icon.muchbetter {
    width: 145px;
    height: 34px;
    background-image: url("")
}

.icon.rapid {
    width: 70px;
    height: 36px;
    background-image: url("");
    background-size: cover
}

.icon.sirumob {
    width: 48px;
    height: 29px;
    background-image: url("");
    background-size: cover
}

.icon.interac {
    width: 37px;
    height: 37px;
    background-image: url("")
}

.icon.eps {
    width: 66px;
    height: 52px;
    background-image: url("");
    background-size: cover
}

.icon.neosurf {
    width: 65px;
    height: 22px;
    background-image: url("")
}

.icon.sofort {
    width: 80px;
    height: 25px;
    background-image: url("")
}

.icon.neteller {
    width: 92px;
    height: 16px;
    background-image: url("neteller.894eeeb63af3db23235502055cd60a08.png")
}

.icon.ecopayz {
    width: 115px;
    height: 27px;
    background-image: url("")
}

.icon.qiwi {
    width: 71px;
    height: 26px;
    background-image: url("");
    background-size: cover
}

.icon.klarna {
    width: 90px;
    height: 55px;
    background-image: url("");
    background-size: cover
}

.icon.trustly {
    width: 95px;
    height: 32px;
    background-image: url("trustly.44f8b7c616c4d5690fc37a0e2b249c17.png")
}

.icon.entercash {
    width: 145px;
    height: 29px;
    background-image: url("")
}

.icon.instadebit {
    width: 155px;
    height: 19px;
    background-image: url("");
    background-size: cover
}

.icon.paysafe {
    width: 145px;
    height: 26px;
    background-image: url("paysafe.e937e09b232e3d4d9bd6353ae7316320.png")
}

.icon.giropay {
    width: 63px;
    height: 27px;
    background-image: url("")
}

.icon.resp-gaming {
    width: 80px;
    height: 25px;
    background-image: url("responsible_gaming.8ff8301c2c0e4547e7d910d96d07e0d4.png")
}

.icon.safe-security {
    width: 60px;
    height: 27px;
    background-image: url("safe_security.2d157e63edd2517776543ac73895f653.png")
}

.icon.age {
    width: 30px;
    height: 30px;
    background-image: url("18+.4dae0e33ede32dbc074dc30fb301854d.png")
}

.icon.debit {
    width: 65px;
    height: 27px;
    background-image: url("")
}

.icon.laptops {
    width: 77px;
    height: 35px;
    background-image: url("laptops.f36476c9988e14257eb8aef1ac302a6f.png")
}

@media (max-width:1380px) {
    .footer-icons {
        flex-wrap: wrap
    }
}

@media (max-width:768px) {
    .footer {
        margin-top: -40px
    }
    .icon {
        margin: 0 10px
    }
}

.white {
    color: var(--text-primary-color)
}

.yellow {
    color: var(--text-bright-color)
}

#preloader {
    display: none
}

.field-error {
    position: absolute;
    bottom: -18px;
    left: 5px;
    color: var(--error-color);
    font-size: 12px;
    visibility: hidden;
    opacity: 0
}

.field-error.active {
    visibility: visible;
    opacity: 1
}

.pop_up {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: var(--font-family-montserrat-extrabold);
    background: var(--pop-up-bg-color);
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease;
    pointer-events: none
}

.pop_up__open {
    visibility: visible;
    opacity: 1
}

.pop_up__open--form {
    pointer-events: visible
}

.pop_up__block {
    position: relative;
    display: none;
    background: var(--pop-up-gradient);
    border: 1px solid #3c3c3c;
    border-radius: 0;
    box-shadow: none
}

.pop_up__block--active {
    display: block
}

.pop_up__block--form {
    position: relative;
    width: 545px;
    padding: 35px 40px
}

.pop_up_close {
    position: absolute;
    top: 0;
    right: 0;
    width: 53px;
    height: 53px;
    background: url("") no-repeat 50%, var(--pop-up-close-gradient);
    background-size: 35% 35%, auto auto;
    border-radius: 50%;
    transform: translate(110%, -110%);
    cursor: pointer
}

.pop_up__title {
    text-align: center;
    text-transform: uppercase
}

.pop_up__title h3 {
    margin-bottom: 10px;
    font-size: 42px;
    text-shadow: var(--text-shadow)
}

.pop_up__title h4 {
    font-size: 24px;
    line-height: 30px;
    text-shadow: var(--text-shadow)
}

.loader-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    margin: auto;
    -webkit-box-align: center;
    -webkit-box-pack: center
}

.loader-wrapper .loader-bottom {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
    color: var(--loader-color);
    text-align: center;
    -webkit-animation: pulse .45s linear alternate;
    animation: pulse .45s linear alternate
}

.loader-wrapper .loader-circle {
    width: 60%;
    height: 60%;
    border: 30px solid transparent;
    border-left: 30px solid var(--loader-color);
    border-radius: 50%;
    -webkit-animation: load .9s ease-in-out infinite alternate;
    animation: load .9s ease-in-out infinite alternate
}

.form_reg {
    margin-top: 30px
}

.form_box {
    position: relative;
    margin-bottom: 20px;
    font-family: var(--font-family-montserrat-medium)
}

.form_box,
.form_box input {
    color: var(--text-primary-color)
}

.form_box input {
    width: 100%;
    padding: 12px 3px 12px 55px;
    font-size: 18px;
    text-indent: 2px;
    background: var(--form-input-bg-color);
    border: 1px solid var(--form-input-border-color);
    border-radius: 3px;
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.form_box input.item-error {
    border: 1px solid var(--error-color)
}

.form_box input::-webkit-input-placeholder {
    color: var(--text-primary-color)
}

.form_box input::-moz-placeholder {
    color: var(--text-primary-color)
}

.form_box input:-ms-input-placeholder {
    color: var(--text-primary-color)
}

.form_box input:-moz-placeholder {
    color: var(--text-primary-color)
}

.form_box input.item-error~.label_error {
    visibility: visible;
    opacity: 1
}

.form_box input[type=checkbox] {
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;
    opacity: 0
}

.form_box input[type=checkbox]:checked~.label_radio:before {
    opacity: 1
}

.form_box select {
    position: relative;
    width: 100%;
    padding: 12px 3px 12px 55px;
    color: var(--text-primary-color);
    font-size: 18px;
    text-indent: 2px;
    background: rgba(0, 0, 0, .1);
    border: 1px solid var(--form-select-border-color);
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.form_box select::-ms-expand {
    display: none
}

.form_box select.item-error {
    border: 1px solid red
}

.form_box select option {
    color: var(--text-bright-color);
    background: var(--form-options-bg-color);
    border: 1px solid var(--form-options-border-color);
    outline: none;
    cursor: pointer
}

.form_box__promos,
.form_box__rule {
    margin-top: 30px
}

.form_box__promos label span,
.form_box__rule label span {
    font-size: 16px
}

.form_box__promos label span a,
.form_box__rule label span a {
    text-decoration: underline
}

.form_box__btn {
    margin-top: 20px;
    text-align: center
}

.form_box__btn button {
    position: relative;
    display: block;
    width: 100%;
    padding: 17px 0;
    color: var(--text-primary-color);
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    background: var(--form-button-gradient);
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: var(--form-button-shadow);
    cursor: pointer
}

.form_box__btn button span {
    font-family: var(--font-family-montserrat-extrabold)
}

.form_box__btn button.spin {
    display: inline-block;
    width: auto;
    padding: 17px 80px;
    -webkit-animation: btn-anim .5s ease infinite alternate;
    animation: btn-anim .5s ease infinite alternate;
    pointer-events: visible
}

.form_box__btn button:active {
    box-shadow: 0 0 5px 1px
}

.form_box__login {
    margin-bottom: 0;
    text-align: center
}

.form_box__login:active,
.form_box__login:hover {
    text-shadow: 0 0 10px #fcfffd
}

.form_box_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px
}

.form_box_container .form_box {
    flex-basis: 49%;
    margin-bottom: 0
}

.form_box_container .form_box input {
    padding-left: 12px
}

.form-done {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    background: var(--pop-up-gradient);
    border-radius: 20px;
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease
}

.form-done h3 {
    font-size: 48px;
    text-shadow: var(--text-shadow)
}

.form-done h3:first-child {
    margin-bottom: 15px
}

.form-done h4 {
    margin-top: 40px;
    font-size: 24px
}

.form-done--active {
    visibility: visible;
    opacity: 1
}

#gender-container select,
#phone-number-container input,
#postal-code-container input {
    padding-left: 12px
}

#gender-container select {
    height: 100%
}

#country-container,
#date-of-birth,
#date-of-birth-container,
#email-container,
#password-container {
    position: relative
}

#date-of-birth::-webkit-clear-button,
#date-of-birth::-webkit-inner-spin-button {
    display: none
}

#date-of-birth::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 15px;
    z-index: 1;
    color: transparent;
    background: none
}

#date-of-birth:before {
    right: 0;
    content: ""
}

#date-of-birth:before,
.label_arrow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("") no-repeat center right 15px, var(--arrow-color);
    background-size: 15px 15px, auto auto;
    border-radius: 3px
}

.label_arrow {
    left: 0
}

.label_radio {
    position: relative;
    display: block;
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    margin-top: 2px;
    margin-right: 15px;
    background: transparent;
    border: 1px solid var(--radio-border-color);
    border-radius: 3px;
    cursor: pointer
}

.label_radio:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    color: var(--radio-color);
    background: url("4a8249803a017af72db37544b115097083d11892.svg") no-repeat 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    content: ""
}

#errors span {
    display: block;
    padding-top: 5px;
    color: var(--error-color);
    text-align: center
}

#errors span:first-letter {
    text-transform: uppercase
}

.label_img {
    position: absolute;
    top: 50%;
    left: 17px;
    width: 25px;
    transform: translateY(-50%)
}

.form_box__promos,
.form_box__rule {
    display: flex
}

.first-step.hidden,
.second-step.hidden {
    height: 0;
    visibility: hidden;
    opacity: 0
}

.second-step .form_box__btn {
    display: flex;
    justify-content: space-between
}

.second-step .form_box__btn>button[name=prev_step] {
    position: relative;
    flex-basis: 45%;
    padding: 17px 10px 17px 20px;
    color: var(--prev-btn-color);
    background: transparent;
    border: 1px solid var(--form-button-gradient)
}

.second-step .form_box__btn>button[name=prev_step]:before {
    position: absolute;
    display: block;
    top: 50%;
    left: 10px;
    width: 10px;
    height: 10px;
    border-color: var(--prev-btn-color);
    border-style: solid;
    border-width: 3px 0 0 3px;
    transform: translateY(-50%) rotate(-45deg);
    content: ""
}

.second-step .form_box__btn>button[name=send_data] {
    flex-basis: 50%
}

@media (max-width:1920px) {
    .pop_up__block--form {
        width: 415px;
        padding: 30px
    }
    .pop_up__title h3 {
        margin-bottom: 5px;
        font-size: 30px
    }
    .pop_up__title h4 {
        font-size: 18px;
        line-height: 24px
    }
    .pop_up_close {
        width: 41px;
        height: 41px
    }
    .form_box input,
    .form_box select {
        padding: 9px 3px 9px 45px;
        font-size: 14px
    }
    .form_box__promos label span,
    .form_box__rule label span {
        font-size: 13px
    }
    .form_box__submit button {
        padding: 13px 0;
        font-size: 28px
    }
    .form_box__submit button.spin {
        padding: 13px 60px
    }
    .form_box_container .form_box input {
        padding-left: 9px
    }
    .form_box__submit,
    .form_box_p,
    .form_box_r,
    .form_reg {
        margin-top: 20px
    }
    .form-done h3 {
        font-size: 32px
    }
    .form-done h4 {
        font-size: 18px
    }
    #gender-container select,
    #phone-number-container input,
    #postal-code-container input {
        padding-left: 9px
    }
    .label_img {
        width: 20px
    }
    .label_radio {
        width: 20px;
        height: 20px
    }
}

@media (max-width:1100px) {
    .pop_up_close {
        transform: translateY(-110%)
    }
}

@media (max-width:768px) {
    .pop_up__block--form {
        width: 440px
    }
    .pop_up__title h3 {
        margin-bottom: 5px;
        font-size: 32px
    }
    .pop_up__title h4 {
        font-size: 19px;
        line-height: 24px
    }
    .form_box input,
    .form_box select {
        font-size: 15px
    }
    .form_box__submit button {
        font-size: 29px
    }
    .form-done h3 {
        font-size: 36px
    }
    .form-done h4 {
        font-size: 20px
    }
}

@media (max-width:768px) and (max-height:450px) {
    .pop_up {
        display: block
    }
    .pop_up__block--form {
        margin: 40px auto
    }
}

@media (max-width:500px) {
    .field-error {
        bottom: -14px;
        font-size: 8px
    }
    .pop_up__block--form {
        width: 300px;
        padding: 30px
    }
    .pop_up__title h3 {
        margin-bottom: 10px;
        font-size: 20px
    }
    .pop_up__title h4 {
        font-size: 13px;
        line-height: 17px
    }
    .pop_up_close {
        width: 30px;
        height: 30px
    }
    .form_box input,
    .form_box select {
        padding: 4px 3px 4px 30px;
        font-size: 10px
    }
    .form_box__promos label span,
    .form_box__rule label span {
        font-size: 9px
    }
    .form_box__submit button {
        padding: 10px 0;
        font-size: 20px
    }
    .form_box__submit button.spin {
        padding: 10px 60px
    }
    .form_box_p,
    .form_box_r {
        margin-top: 10px
    }
    .form_box__promos,
    .form_box__rule {
        margin-top: 0
    }
    #gender-container select,
    #phone-number-container input,
    #postal-code-container input,
    .form_box_container .form_box input {
        padding-left: 4px
    }
    .form_box__submit,
    .form_reg {
        margin-top: 15px
    }
    .form-done h3 {
        font-size: 26px
    }
    .form-done h4 {
        font-size: 14px
    }
    .label_img {
        left: 10px;
        width: 15px
    }
    .label_radio {
        width: 15px;
        height: 15px
    }
}

@-webkit-keyframes pulse {
    0% {
        color: var(--loader-color)
    }
    to {
        color: var(--loader-opacity-color)
    }
}

@keyframes pulse {
    0% {
        color: var(--loader-color)
    }
    to {
        color: var(--loader-opacity-color)
    }
}

@-webkit-keyframes load {
    0% {
        transform: rotate(-35deg)
    }
    18% {
        border-width: 18px
    }
    50% {
        border-width: 4px
    }
    82% {
        border-width: 18px
    }
    80% {
        opacity: .8
    }
    to {
        transform: rotate(215deg)
    }
}

@keyframes load {
    0% {
        transform: rotate(-35deg)
    }
    18% {
        border-width: 18px
    }
    50% {
        border-width: 4px
    }
    82% {
        border-width: 18px
    }
    80% {
        opacity: .8
    }
    to {
        transform: rotate(215deg)
    }
}

@-webkit-keyframes btn-anim {
    0% {
        transform: scale(1)
    }
    to {
        transform: scale(1.1)
    }
}

@keyframes btn-anim {
    0% {
        transform: scale(1)
    }
    to {
        transform: scale(1.1)
    }
}
